.btn.btn-link{
    color: #e8e8e8;
}

.bg-uno{
    height: 810px;
    padding: 0;
}

.main-image{
    position: absolute;
    width: 100%;
    height: 810px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#inicio{
    width: 100%;
}

#pag3-col2{
    margin-left: 40px;
    margin-top: 10%;
}